<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="ui">
      <div class="bar top">
          <div class="score-container">
              <div>
                  Score: <span class="score current-score">3322</span>
              </div>
          </div>
          <div class="score-container">
              <div>
                  High Score: <span class="score high-score">1234</span>
              </div>
          </div>
      </div>
      <div class="content">
          <div class="message"><%= htmlWebpackPlugin.options.gameOverText %></div>
          <button id="start-button"><%= htmlWebpackPlugin.options.startText %></button>
      </div>
      <div class="bar bottom">
          <div class="controls">
              <div class="control left">
                  <div class="arrow left"></div>
              </div>
              <div class="control right">
                  <div class="arrow right"></div>
              </div>
          </div>
      </div>
    </div>
    <div class="container">
    </div>
  </body>
</html>
