above(width)
    @media(min-width width)
        {block}

below(width)
    @media(max-width width)
        {block}

line(horizontal = false)
    display block
    content ''
    width 8px
    height 30px
    background #0229F6
    border-radius 4px
    transform horizontal ? rotate(90deg) : translate(-4px, 4px) 
    transform-origin horizontal ? top : center

fit()
    width 100%
    max-width 550px